/*variable
{
    dark blue:#434780;
    green:#008037;
    blue:#004AAD;
}
*/

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    background-color:aliceblue;
}

body{
    margin:0;
}

.about-container, .projects-section, .skills-container{
    text-align: center;
    margin: 0em 2em 0 2em;
    padding: 1em 0 1em 0;
}


/* nav*/


nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #434780;
    padding: 1em;
    overflow: hidden;
    position: relative;
}

.tabs-nav{
    display: none;
}

.tabs-nav a{
    display: block;
    text-decoration: none;
    background-color: transparent;
    font-size: 18px;
    color: aliceblue;
    transition-duration: 0.4s;
    border-color: aliceblue;
    padding: 14px 0 14px 14px;
}

.tabs-nav a:hover{
    background-color:#004AAD;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.logo-nav div{
    display: flex;
    margin: auto;
    align-items: center;
    margin-left: 2em;
}

.logo-nav img{
    width: 3.5em;
    height:3.5em;
    image-rendering:optimizeQuality;
}

.logo-name a{
    display: none;
    color:aliceblue;
    text-decoration: none;
    padding: 1em;
    font-size:25px;
}


/*hamburger*/


.hamburger {
    cursor: pointer;
    position: absolute;
    top:1.6em;
    right:1em;
  }
  
.bar1, .bar2, .bar3 {
    width: 2.3em;
    height: 5px;
    background-color:aliceblue;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/* landing */


.landing-text{
    font-size: 20px;
    max-width: 30em;
    color: aliceblue;
    padding: 1em;
}

.landing-top{
    display:flex;
    flex-direction: column-reverse;
}

.landing-container{
    background: linear-gradient(215deg, #004AAD 20%, #434780 60%);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 1em 0 1em 0;
}

.landing-image img{
    height: 70%;
    width: 100%;
}

.landing-text button{
    margin: 1em 0 1em 0;
    text-decoration: none;
    background-color: transparent;
    font-size: 18px;
    color: aliceblue;
    transition-duration: 0.4s;
    padding: 15px;
    border-radius: 10%;
    font-size: 30px;
    border: solid aliceblue 5px;
}
.landing-text button:hover{
    background-color:#004AAD;
    transform: translateY(-4px);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/* Arrow */

.arrow-wrap {
    position: relative;
    -webkit-animation: arrow 2s infinite ;
    -moz-animation: arrow 2s infinite ;
    animation: arrow 2s;
    animation-iteration-count: 5;
  }
  
  .arrow {
    padding: 15px;
    border-left: solid 10px aliceblue;
    border-bottom: solid 10px aliceblue;
    position: relative;
    display: inline-block;
    margin: 20px;
  }
  
  .arrow-down {
    transform: rotate(-45deg);
  }

  @keyframes arrow {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}
/* about */


.about-card{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.about-image img{
    height: 60%;
    width: 100%;
    border-radius: 50%;
    margin-bottom: 1em;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.about-text{    
    color: black;
    font-size: 16px;
    line-height: 25px;;
    
}

.about-container h4{
    margin: 1em 0 0 0;
}

.about-text a{
    text-decoration: none;
    color:#004AAD;
}


/* Projects */

.projects-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#project-card{
    background-color:aliceblue;
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 1em;
    border-radius: 10%;
    margin: 1em;
    border: none;
    box-shadow: 0 12px 25px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#project-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#project-button{
    text-decoration: none;
    font-size: 18px;
    background-color: aliceblue;
    border: none;
    margin: 1em;
}

#project-arrow{
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin: 2em;
    background-color: aliceblue;
    transition: all 0.5s;
}

#project-arrow:hover {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
}

#project-arrow:active {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
}

#project-context1, #project-context2, #project-context3{
    display: none;
}


/* footer */


footer{
    text-align: center;
    background-color: #434780;
    padding: 3em 1em 3em 1em;
    color:aliceblue;
}


/* Scroll bar*/


::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background:rgba(0,0,0,0.24);
}

/*for website */
@media (min-width: 376px){
    nav{
        background-color:#434780;
        padding: 1em 2em 1em 2em;
    }

    .logo-nav img{
        display: none;
    }

    .logo-name a{
        display:block;
    }

    .tabs-nav a{
        display: block;
        text-decoration: none;
        background-color: transparent;
        font-size: 18px;
        color: aliceblue;
        transition-duration: 0.4s;
        padding: 10px;
        border-radius: 20%;
        border-color: aliceblue;
        }
    
    .landing-container{
        flex-direction: column
    }

    .landing-top{
        flex-direction: row-reverse;
    }

    .arrow{
        margin: 1em auto 1em auto;
    }
}

/*
@media (min-width:1024px)
{
   .tabs-nav a{
    display: block;
    text-decoration: none;
    background-color: transparent;
    font-size: 18px;
    color: aliceblue;
    transition-duration: 0.4s;
    padding: 10px;
    border-radius: 20%;
    border-color: aliceblue;
    } 
}
*/