/*variable
{
    dark blue:#434780;
    green:#008037;
    blue:#004AAD;
}
*/

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    background-color:aliceblue;
}

body{
    margin:0;
}

.about-container, .projects-section, .skills-container{
    text-align: center;
    margin: 0em 2em 0 2em;
    padding: 1em 0 1em 0;
}


/* nav*/


nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #434780;
    padding: 1em;
    overflow: hidden;
    position: relative;
}

.tabs-nav{
    display: none;
}

.tabs-nav a{
    display: block;
    text-decoration: none;
    background-color: transparent;
    font-size: 18px;
    color: aliceblue;
    transition-duration: 0.4s;
    border-color: aliceblue;
    padding: 14px 0 14px 14px;
}

.tabs-nav a:hover{
    background-color:#004AAD;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.logo-nav div{
    display: flex;
    margin: auto;
    align-items: center;
    margin-left: 2em;
}

.logo-nav img{
    width: 3.5em;
    height:3.5em;
    image-rendering:optimizeQuality;
}

.logo-name a{
    display: none;
    color:aliceblue;
    text-decoration: none;
    padding: 1em;
    font-size:25px;
}


/*hamburger*/


.hamburger {
    cursor: pointer;
    position: absolute;
    top:1.6em;
    right:1em;
  }
  
.bar1, .bar2, .bar3 {
    width: 2.3em;
    height: 5px;
    background-color:aliceblue;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/* landing */


.landing-text{
    font-size: 20px;
    color: aliceblue;
    padding: 1em;
}

.landing-top{
    display:flex;
    flex-direction: column-reverse;
    width:80%
}

.landing-container{
    background: linear-gradient(215deg, #004AAD 20%, #434780 60%);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
}

.landing-image img{
    width: 100%;
}

.landing-text button{
    margin: 1em 0 1em 0;
    text-decoration: none;
    background-color: transparent;
    font-size: 18px;
    color: aliceblue;
    transition-duration: 0.4s;
    padding: 15px;
    border-radius: 10%;
    font-size: 30px;
    border: solid aliceblue 5px;
}
.landing-text button:hover{
    background-color:rgba(0,0,0,0.24);
    transform: translateY(-4px);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/* Arrow */

.arrow-wrap {
    position: relative;
    -webkit-animation: arrow 2s infinite ease;
    -moz-animation: arrow 2s infinite ease;
    animation: arrow 2s infinite ease;
  }
  
  .arrow {
    padding: 15px;
    border-left: solid 10px aliceblue;
    border-bottom: solid 10px aliceblue;
    position: relative;
    display: inline-block;
    margin: 20px;
  }
  
  .arrow-down {
    transform: rotate(-45deg);
  }

  @keyframes arrow {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}
/* about */


.about-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-image img{
    height: 60%;
    width: 100%;
    border-radius: 50%;
    margin-bottom: 1em;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.about-text{    
    color: black;
    font-size: 16px;
    line-height: 25px;
}

.about-image h4{
    margin: 1em 0 0 0;
}

.about-text a{
    text-decoration: none;
    color:#004AAD;
}

@media (min-width: 1025px){
    nav{
        background-color:#434780;
        padding: 1em 2em 1em 2em;
    }

    .logo-nav img{
        display: none;
    }

    .logo-name a{
        display:block;
    }

    .tabs-nav a{
        display: block;
        text-decoration: none;
        background-color: transparent;
        font-size: 18px;
        color: aliceblue;
        transition-duration: 0.4s;
        padding: 10px;
        border-radius: 20%;
        border-color: aliceblue;
        }
    
    .landing-container{
        flex-direction: column;
        justify-content: center;
    }

    .landing-image{
        height: 100%;
    }

    .landing-top{
        flex-direction: row-reverse;
    }

    .hamburger{
        top:2.2em;
    }

    .arrow{
        margin: 1em auto 1em auto;
    }

    .about-card{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .about-container{
        margin: 0em 4em 0 4em;
    }

    .about-text{
        max-width: 800px;
        min-width: 400px;
    }
    .about-image{
        min-width: 20%;
        max-width: 300px;
    }
}